<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <%= image_tag("logo.png") %>
      </div>
    </div>
  </div>
 </div>


 <div  class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6 text-center mt-5">
        <div class="setpage">
          <h3 class="headiingtp"><b>Settings</b></h3>
          <div class="card p-5">
            <div class="pickup-loc">
              <label class="switch">
                <input type="checkbox" <%= @status %> name="toggle_btn" id="chk1"> 
               <div class="slider round">
                <!--ADDED HTML -->
                <span class="on">Enable  </span>
                <span class="off">Disable</span>
                <!--END-->
               </div>
               </label>
            </div>
           <br>
           <p class="apscs">App Status</p>
         </div>

        <div class="p-4 text-center">
          <div><button id="chk11" class="btn btn-primary">Save</button></div>
        </div> 
        </div>
      </div>
      </div>
  </div>



<!-- Modal -->
<div class="modal fade" id="getCodeModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
     <div class="alert border-danger alert-danger">
      <div class="modal-body" id="getCode2">
        Request failed, Please wait while products are syncing. You will get a mail shortly after products done syncing and can perform download.
      </div>
   </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="getCodeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="alert border-success alert-success">
      <div class="modal-body" id="getCode">
        Your products are syncing and you will get a mail shortly after sync is done.
      </div>
   </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="getCodeModal0" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="alert border-success alert-success">
      <div class="modal-body" id="getCode0">
                    App status updated successfully.
      </div>
   </div>
  </div>
</div>


<% if @message == "false" %>
<script>
  $("#getCodeModal2").modal('show');
  setTimeout("$('#getCodeModal2').modal('hide');",4500);
</script>
<% else %>
<script>
  $("#getCodeModal").modal('show');
  setTimeout("$('#getCodeModal').modal('hide');",3500);
</script>
<% end %>


<script>
  $('#chk11').click(function() {
    var sw = $('#chk1').prop('checked');
      $.ajax({
        url:'/update_status',
        type:'POST',
        dataType:'json',
        data:{
            myparams1: sw,
        },
        success:function(data){
          console.log("success")
          $("#getCodeModal0").modal('show');
          setTimeout("$('#getCodeModal0').modal('hide');",2500);
        },
        error:function(data){
            console.log("error in loading")
        }
      });
  })
  </script>

 <script>
  setInterval(function() {
    $.ajax({
      type: 'get',
      dataType: 'json',
      url: '/sync_status',
      success: function(data) {
        if(data["sync_status"] == "completed"){
          window.location.replace(`/home`);
        }
      }
    });
  }, 10 * 1000);
</script> 