@import "bootstrap";


  /*if add yout own Switch*/
  /*Add This css only*/
  .header{background:#355c7d; padding:8px 0;}
  .header svg,.header img{height:34px;}
  h3.headiingtp {font-size:20px;  margin:50px 0 20px;} 
  .apscs{font-size:16px;}
  .copyright {text-align:center; padding:15px; display:block; border-top:1px solid #e0e0e0; font-size:13px; opacity:.7; color:#000;}
  .setpage {height:71vh;}
  /*Add This css only*/
 
.switch {position:relative; display:inline-block; width:90px; height:34px;}
.switch input {display:none;}
.slider {position:absolute; cursor:pointer; top:0; left:0; right:0; bottom:0; background-color:#ad0e0e; -webkit-transition:.4s; transition:.4s;border-radius:50px;}
.slider:before {position:absolute; content:""; height:26px; width:26px; left:4px; bottom:4px; background-color:white; -webkit-transition:.4s; transition:.4s; border-radius:50px;}
input:checked + .slider {background-color:#50ad0e;}
input:focus + .slider {box-shadow:0 0 1px #2196F3;}
input:checked + .slider:before {-webkit-transform:translateX(55px); -ms-transform:translateX(55px); transform:translateX(55px);}

/*------ ADDED CSS ---------*/
.on{display:none;}
.on, .off{color:white; position:absolute; transform:translate(-50%,-50%); top:50%; left:37%; font-size:10px; font-family:Verdana, sans-serif;}
.off {left:62%;}
input:checked+ .slider .on{display:block;}
input:checked + .slider .off{display:none;}
.setpage .btn{font-size:14px; padding:5px 20px;}
/*--------- END --------*/
